@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Pretendard';
    background: url('../img/bgimg.jpg') no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245,233,211,0.15);
    z-index: 1;
    pointer-events: none;
}
#login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
    gap: 8px;
    h2{
        color: #fff;
        text-shadow: 5px 5px 10px #000;
        gap: 10px;
    }
    input{
        flex: 1;
        padding: 8px;
        font-size: 1rem;
        border-radius: 1rem;
    }
    button{
        padding: 8px 16px;
        border-radius: 1rem;
        font-size: 1rem;
        cursor: pointer;
    }
}




#weather-page{
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 16px 22px;
    width: fit-content;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(14px);
    color: #555;
    font-weight: 500;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    img{
        width: 60px;
        height: 60px;
    }
}